@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #0f172a; /* Slate 900 */
  color: #f8fafc; /* Slate 50 */
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
